@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


body{
    margin: 0;
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("img/bg.jpg");
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.334) 2px 2px 4px;
}

.relogio{
    display: flex;
}

.relogio div{
    margin: 5px;
    position: relative;
    border-radius: 10px;
    box-shadow: #0000004f 4px 4px 6px;
}

.relogio span{
    width: 200px;
    height: 120px;
    background-color: #de8d2979;
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.relogio .texto{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #2883A0;
    opacity: .8;
    border-radius: 0 0 10px 10px;
}

.relogio #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: #e3dec792;
    border-radius: 8px;
}