@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SN Pro', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, #efefef, #ebebeb);
    padding: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.task-input-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    gap: 12px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.task-input-fields input,
.task-input-fields select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #3a3a3a;
}

#addTaskButton{
    padding: 8px 16px;
    background-color: #90c109;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

#addTaskButton:hover{
    background-color: #7aae0d;
}

.kanban{
    display: flex;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 16px;
    height: 85vh;
}

.kanban-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban-title h2{
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 600;
}

.kanban-column{
    display: flex;
    flex: 1;
    min-width: 260px;
    flex-direction: column;
    gap: 16px;    
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.kanban-column::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 12px 12px 0 0;
}

.kanban-column[id="todo"]::after{
    background-color: #dce525;
}

.kanban-column[id="doing"]::after{
    background-color: #394e93;
}

.kanban-column[id="done"]::after{
    background-color: #c53642;
}

.add-card {
    background-color: none;
    border: none;
    border-radius: 10%;
    font-size: 16px;
    color: #3a3a3a;
    cursor: pointer;
    padding: 5px;
}

.kanban-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    padding-right: 4px;
}

.kanban-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

.cards-hover {
    background-color: #e2e8f0;
    border-radius: 8px;
}

.badge {
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 8px;
    color: #fff;
}

.badge.low {
    background-color: #dce525;
}

.badge.medium {
    background-color: #394e93;
}

.badge.high {
    background-color: #c53642;
}

.card-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-icons {
    display: flex;
    gap: 8px;
}

.profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


/* Cor do Scroll da tela */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f5f9;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 4px;
  }