@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #152d3a;
}

.instrutions p {
    color: #464545;
}

.btn-on {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
    transition: .3s ease;
}

.btn-on:hover {
    opacity: 1;
}

.btn-off {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
    transition: .3s ease;
}

.btn-off:hover {
    opacity: 1;
}

.btn-reset {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6c757d;
    border: none;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 8px;
}

.btn-reset:hover {
    opacity: 1;
}

.lamp {
    font-size: 180px;
    margin: 16px 0;
    transition: color 0.3s ease;
}

.initial {
    color: #aeaeae;
}

.on {
    color: #FFD700;
    display: none;
}

.off {
    color: #404955;
    display: none;    
}

