*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background: linear-gradient(135deg, #ececec, #cbcbcb);
    color: #fff;
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    max-width: 100%;

}

.logo {
    width: 32px;
    height: 32px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 12px 24px;
    background: rgb(245, 245, 245);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 1.2rem;
}
.navbar ul li a {
    color: #5d5d5d;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: rgb(161, 8, 8);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    background: rgb(161, 8, 8) url("img/header-img.png") no-repeat right center;
    background-size: contain;
    padding: 150px;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    max-width: 200px;
    background-color: #af1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: #05050564 0px 2px 4px -1px;
}

.btn:hover {
    background-color: #a31d1d;
    box-shadow: #05050584 0px 2px 4px -1px;
}

/* Features Section */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin: 0 auto;
    margin-bottom: 50px;
}

.features h3{
    color: #ffffff;
    text-align: center;
    margin: 10px auto;
}
.features ul{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.features li {
    flex: 1;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.features p{
    color: #ffffff;
    text-align: justify;
    margin: 15px auto;
    padding: 5px;
}

.features i{
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 6px;

}
.feature-card-1{
    background-color: #540000;
    color: #ffffff;
}

.feature-card-2{
    background-color: #760000;
    color: #ffffff;
}

.feature-card-3{
    background-color: #8d0101;
    color: #ffffff;
}   

.feature-card-4{
    background-color: #9c1313;
    color: #ffffff;
}

/* Article Section */
.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.article-section h2{
    color: #8d0101;
    text-align: center;
    margin: 10px auto;
}
.article-section h3{
    color: #8d0101;
    text-align: left;
    margin: 10px auto;
}

.article-section p{
    color: #5e5e5e;
    text-align: justify;
    margin: 15px auto;
    padding: 5px;
}

.linha-horizontal {
  width: 90%; 
  height: 2px; 
  background-color: rgb(161, 8, 8); 
  margin: 40px auto; 
  border-radius: 2px; 
  box-shadow: 0 3px 6px rgba(0,0,0,0.2); 
}